 {% load static %}
<!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid">
      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">LSPTI</a></h1>
        <!-- Uncomment below if you prefer to use an image logo
        <a href="#intro"><img src="{% static 'assets/img/New logo0.png' %}" WIDTH="90px" height="80px"  alt=""></a>-->
      </div>

        <div class="justify-content-center">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-has-children"><a href="">New</a>
            <ul>
              <li><a href="../StuReg_Form">Admission</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down </a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Show</a>
            <ul>
              <li><a href="../All_Data">All Data</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
           <li><a href="../logout">Logout</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
</div>


        </div>
  </header><!-- End Header -->
